@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="email"] {
  -internal-autofill-selected: none !important;
  -webkit-box-shadow: 0 0 0 30px #27272a inset !important;
  -webkit-text-fill-color: #f4f4f5 !important;
}
